

.plus_btn0 {
    position: absolute;
    /* background-color: rgba(255, 255, 255, 1); */
   
    border-radius: 50%;
    padding: 1.7vmin;
    /* top: 36%;
    left: 97% !important; */
    transform: translate(1217%, 342%);
    z-index: 9;
    display: block;
    cursor: pointer;
}

.plus_btn0 img {
    min-width: 4.2vmin;
    /* min-height: 3.2vmin; */
    background: #fff;
    border-radius: 50%;
    padding: 1.5vmin;
}

.plus_btn0::after {
    content: '';
    position: absolute;
    width: 9.5vmin;
    height: 9.5vmin;
    background-color: rgba(255, 255, 255, 0.2);
    left: -0.9vmin;
    top: -0.9vmin;
    border-radius: 50%;
}

.plus_btn1 {
    position: absolute;
    /* background-color: rgba(255, 255, 255, 1); */
    
    border-radius: 50%;
    padding: 1.7vmin;
    top: 36%;
    left: 37% !important;
    transform:translate(9%, 855%);
    z-index: 9;
    display: block;
}

.plus_btn1 img {
    min-width: 4.2vmin;
    /* min-height: 3.2vmin; */
    background: #fff;
    border-radius: 50%;
    padding: 1.5vmin;
}

.plus_btn1::after {
    content: '';
    position: absolute;
    width: 9.5vmin;
    height: 9.5vmin;
    background-color: rgba(255, 255, 255, 0.2);
    left: -0.9vmin;
    top: -0.9vmin;
    border-radius: 50%;
}

.plus_btn2 {
    position: absolute;
    /* background-color: rgba(255, 255, 255, 1); */
    
    border-radius: 50%;
    padding: 1.7vmin;
    /* top: 36%;
    left: 37% !important; */
    transform:translate(1324%, 907%);
    z-index: 9;
    display: block;
}
.plus_btn2 img {
    min-width: 4.2vmin;
    /* min-height: 3.2vmin; */
    background: #fff;
    border-radius: 50%;
    padding: 1.5vmin;
}

.plus_btn2::after {
    content: '';
    position: absolute;
    width: 9.5vmin;
    height: 9.5vmin;
    background-color: rgba(255, 255, 255, 0.2);
    left: -0.9vmin;
    top: -0.9vmin;
    border-radius: 50%;
}
.plus_btn3 {
    position: absolute;
    /* background-color: rgba(255, 255, 255, 1); */
   
    border-radius: 50%;
    padding: 1.7vmin;
    /* top: 36%;
    left: 37% !important; */
    transform: translate(63%, 233%);
    z-index: 9;
    display: block;
    cursor: pointer;
}
.plus_btn3 img {
    min-width: 4.2vmin;
    /* min-height: 3.2vmin; */
    background: #fff;
    border-radius: 50%;
    padding: 1.5vmin;
}

.plus_btn3::after {
    content: '';
    position: absolute;
    width: 9.5vmin;
    height: 9.5vmin;
    background-color: rgba(255, 255, 255, 0.2);
    left: -0.9vmin;
    top: -0.9vmin;
    border-radius: 50%;
}

.tooltip0 .tooltip__content0 {
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    transition: all 200ms ease;
     -webkit-transform: translate3d(-150%, 0%, 0);
    -moz-transform: translate3d(-150%, 0%, 0);
    -ms-transform: translate3d(-150%, 0%, 0);
    -o-transform: translate3d(-150%, 0%, 0);
    transform: translate3d(256%, 131%, 0); 
    -webkit-transform-origin: 0 0.1vmin;
    -moz-transform-origin: 0 0.1vmin;
    -ms-transform-origin: 0 0.1vmin;
    -o-transform-origin: 0 0.1vmin;
    border-radius: 4px;
    color: #2f2f2f;   
    font-size: 14px;
    font-weight: normal;
    padding: 3.6vmin 4.6vmin;
    pointer-events: none;
    position: absolute;
    text-align: left;
    bottom: 100%;
    background: linear-gradient(
93deg
, rgba(33,33,33,0.9556197478991597) 23%, rgba(33,33,33,0.6054796918767507) 100%);
    color: #fff;
    width: 40vmin;
    opacity: 0;
}

.tooltip0 .showTip{
    transition: opacity 1s;
    transition: 0.5s;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    transition: all 200ms ease;
    -webkit-transform: translate3d(-550%, 83%, 0);
    -moz-transform: translate3d(-550%, 83%, 0);
    -ms-transform: translate3d(-550%, 83%, 0);
    -o-transform: translate3d(-550%, 83%, 0);    
    transform: translate3d(236%, 131%, 0); 
    /* -webkit-transform: rotateX(30deg) translate3d(-50%, -10%, 0);
    -moz-transform: rotateX(30deg) translate3d(-50%, -10%, 0);
    -ms-transform: rotateX(30deg) translate3d(-50%, -10%, 0);
    -o-transform: rotateX(30deg) translate3d(-50%, -10%, 0);
    transform: rotateX(10deg) translate3d(236%, 131%, 0); */

    opacity: 1;
}
.open{  
    transform: translate(959%, -300%);
}

.tooltip__content1 {
    /* -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    transition: all 200ms ease;
    -webkit-transform: translate3d(-50%, 0%, 0);
    -moz-transform: translate3d(-50%, 0%, 0);
    -ms-transform: translate3d(-50%, 0%, 0);
    -o-transform: translate3d(-50%, 0%, 0);
    transform: translate3d(11%, 55%, 0);
    -webkit-transform-origin: 0 0.1vmin;
    -moz-transform-origin: 0 0.1vmin;
    -ms-transform-origin: 0 0.1vmin;
    -o-transform-origin: 0 0.1vmin; */
    transform: translate3d(17%, 351%, 0);
    border-radius: 4px;
    color: #2f2f2f;   
    font-size: 14px;
    font-weight: normal;
    padding: 3.6vmin 4.6vmin;
    pointer-events: none;
    position: absolute;
    text-align: left;
    bottom: 100%;
    background: linear-gradient(
93deg
, rgba(33,33,33,0.9556197478991597) 23%, rgba(33,33,33,0.6054796918767507) 100%);
    color: #fff;
    width: 40vmin;
}
.tooltip__content2 {
    /* -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    transition: all 200ms ease;
    -webkit-transform: translate3d(-50%, 0%, 0);
    -moz-transform: translate3d(-50%, 0%, 0);
    -ms-transform: translate3d(-50%, 0%, 0);
    -o-transform: translate3d(-50%, 0%, 0);
    transform: translate3d(158%, 106%, 0);
    -webkit-transform-origin: 0 0.1vmin;
    -moz-transform-origin: 0 0.1vmin;
    -ms-transform-origin: 0 0.1vmin;
    -o-transform-origin: 0 0.1vmin; */
    transform: translate3d(159%, 306%, 0);
    border-radius: 4px;
    color: #2f2f2f;    
    font-size: 14px;
    font-weight: normal;
    padding: 3.6vmin 4.6vmin;
    pointer-events: none;
    position: absolute;
    text-align: left;
    bottom: 100%;
    background: linear-gradient(
93deg
, rgba(33,33,33,0.9556197478991597) 23%, rgba(33,33,33,0.6054796918767507) 100%);
    color: #fff;
    width: 40vmin;
}

.tooltip__content3 {
    /* -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    transition: all 200ms ease;
    -webkit-transform: translate3d(-50%, 0%, 0);
    -moz-transform: translate3d(-50%, 0%, 0);
    -ms-transform: translate3d(-50%, 0%, 0);
    -o-transform: translate3d(-50%, 0%, 0);
    transform: translate3d(-14%, -70%, 0);
    -webkit-transform-origin: 0 0.1vmin;
    -moz-transform-origin: 0 0.1vmin;
    -ms-transform-origin: 0 0.1vmin;
    -o-transform-origin: 0 0.1vmin; */
    transform: translate3d(29%, 128%, 0);
    border-radius: 4px;
    color: #2f2f2f;   
    font-size: 14px;
    font-weight: normal;
    padding: 3.6vmin 4.6vmin;
    pointer-events: none;
    position: absolute;
    text-align: left;
    bottom: 100%;
    background: linear-gradient(
93deg
, rgba(33,33,33,0.9556197478991597) 23%, rgba(33,33,33,0.6054796918767507) 100%);
    color: #fff;
    width: 40vmin;
}

 